.skillArea{

  width: 100%;
  background-color:rgba(246,248,255,0.3);
  position: relative;

  .skillAreaBg{
    background: url("../../assets/img/b7technologyBg.png") no-repeat center left;
    background-attachment: fixed;
    background-size: 60%;
    padding-bottom: 45px;
    box-sizing: border-box;
  }

}