@mixin _clear {
  &:after{
    content: '';
    display: block;
    clear: both;
    width: 0;
    height: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.myChartBox{
  width: 1200px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid #3e258e;
  .myChart{
    width: 1224px;
    height: 100%;
    position: absolute;
    left: -12px;
    top: 0;
    z-index: 100;
  }
  .chartText{
    width: 100%;
    height: 100%;
    box-shadow: 0 -60px 120px #1e0f4c inset;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;

    .chartTextTop{
      position: absolute;
      left: 64px;
      top: 40px;
      @include _clear;

      .chartTextTopLeft{
        float: left;

        .chartTextTopLeftTitle{
          font-size: 16px;
          color: #e69c38;
          height: 16px;
          line-height: 16px;
          font-family: PingFangSC-Regular, "Microsoft YaHei";
          user-select: none;
        }

      }

      .chartTextTopRight{
        float: left;
        height: 40px;
        line-height: 40px;
        margin-top: 22px;
        @include _clear;
        .chartTextTopLeftNum{
          font-size: 20px;
          float: left;
          color: rgba(255, 255, 255, 0.9);
          font-family: PingFangSC-Regular, "Microsoft YaHei";
          user-select: none;
        }

        .chartTextTopRightNum1{
          margin-left: 170px;
          font-size: 16px;
          color: #199975;
          float: left;
          font-family: PingFangSC-Regular, "Microsoft YaHei";
          user-select: none;
        }

        .chartTextTopRightNum2{
          margin-left: 70px;
          font-size: 16px;
          color: #199975;
          float: left;
          font-family: PingFangSC-Regular, "Microsoft YaHei";
          user-select: none;
        }
      }

    }

    .chartTextBottom{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50px;
      line-height: 50px;
      box-sizing: border-box;
      padding: 0 25px 0 80px;
      font-size: 12px;
      font-family: PingFangSC-Regular, "Microsoft YaHei";
      color: rgba(255, 255, 255, 0.9);
      @include _clear;

      .chartTextBottomLeft{
        float: left;
        @include _clear;

        .chartTextBottomText{
          float: left;
          margin-right: 45px;
          user-select: none;
        }

      }

      .chartTextBottomRight{
        float: right;
        color: rgba(255, 255, 255, 0.5);
        user-select: none;
      }

    }

  }
}

// 适配移动端
.mobileStyle{
  width: 100%;
  height: 3rem;
  .myChart{
    width: 100%;
    height: 100%;
    left: 0;
  }
  .chartText{
    .chartTextTop{
      top: 0.54rem;
      left: 0.4rem;
      .chartTextTopLeft{
        .chartTextTopLeftTitle{
          font-size: 0.16rem;
          height: 0.16rem;
          line-height: 0.16rem;
        }
      }
      .chartTextTopRight{
        height: 0.4rem;
        line-height: 0.4rem;
        margin-top: 0.22rem;
        .chartTextTopLeftNum{
          font-size: 0.2rem;
        }
        .chartTextTopRightNum1{
          margin-left: 0.6rem;
          font-size: 0.16rem;
        }
        .chartTextTopRightNum2{
          margin-left: 0.45rem;
          font-size: 0.16rem;
        }
      }
    }
    .chartTextBottom{
      height: 0.6rem;
      line-height: 0.6rem;
      bottom: 0.6rem;
      padding: 0 0 0 0.5rem;
      font-size: 0.12rem;
      .chartTextBottomLeft{
        .chartTextBottomText{
          margin-right: 0.4rem;
        }
      }
      .chartTextBottomRight{
        display: none;
      }
    }
  }
}