.k-chart{
  max-width: 1200px;
  height: 250px;
  margin: 0 auto;
  box-sizing: border-box;
  //border:1px solid rgba(62,37,142,1);

  .k-chart-content{
    width: 100%;
    position: relative;
    overflow: hidden;

    img{
      width: 100%;
    }

    .k-chart-content-hidden{
      width: 105%;
      position: absolute;
      top: -85px;
      left: -2.5%;
    }

  }

  .k-chart-table{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    img{
      width: 100%;
    }
  }

}

