.download {
  width: 7.5rem;
  margin: auto;
  text-align: center;
}

.download .title {
  font-size: 0.42rem;
  font-family: PingFangSC-Regular;
  color: #333333;
  text-align: center;
}

.download .bg {
  width: 4rem;
  height: 5.33rem;
  background: url("../../assets/mobileImg/image1@3x.png") no-repeat center center;
  background-size: 100% 100%;
  margin: auto;
  margin: 0.72rem auto 0.59rem auto;
}

.download .content {
  width: 4.23rem;
  font-size: 0.34rem;
  font-family: PingFangSC-Medium;
  color: #333333;
  margin: auto;
  margin-bottom: 0.23rem;
}

.download > ul {
  width: 6.2rem;
  margin: auto;
  display: flex;
  flex: auto;
}

.download > ul > li {
  width: 2.86rem;
  height: 0.79rem;
  margin-top: 0.3rem;
}

.download > ul > li:nth-child(2n) {
  margin-left: 0.48rem;
}

.download > ul > li img {
  width: 2.86rem;
  height: 0.79rem;
}
