.k-chart-box{
    margin:0 auto;
    background:rgba(40,26,85,1);
    .k-chart-content{
        width:7.11rem;
        height:3rem;
        padding:0.2rem;
    }
    .k-table{
        width:7.10rem;
        height:4.19rem;
    }
}