.footerBox{
  width: 100%;
  height:285px;
  background:rgba(25,28,42,1);
  box-sizing: border-box;
  padding-top: 57px;

  .box{
    max-width: 1200px;
    margin: 0 auto;
    &:after{
      content: '';
      clear: both;
      display: block;
      width: 0;
      height: 0;
      visibility: hidden;
    }

    .footerLeft{
      float: left;

      .footerLogo{
        width: 140px;
        height: 38px;
      }

      .footerLogoTitle{
        font-size:16px;
        font-family:PingFangSC-Regular, "Microsoft YaHei";
        color:rgba(97,100,138,1);
        line-height:22px;
        margin-top: 11px;
      }

      .footerLogoBtn{
        margin-top: 18px;
        &:after{
          content: '';
          clear: both;
          display: block;
          width: 0;
          height: 0;
          visibility: hidden;
        }
        .btn{
          float: left;
          width: 25px;
          height: 25px;
          margin-right: 10px;
          display: block;
          img{
            width: 100%;
          }
        }
      }

      .footerCopy{
        font-size:12px;
        font-family:PingFangSC-Medium, "Microsoft YaHei";
        color:rgba(97,100,138,1);
        line-height:17px;
        margin-top: 55px;
      }

    }

    .footerRight{
      float: right;
      &:after{
        content: '';
        clear: both;
        display: block;
        width: 0;
        height: 0;
        visibility: hidden;
      }
      .navItems{
        float: left;
        margin-left: 80px;
        .navItemsTitle{
          font-size:14px;
          font-family:PingFangSC-Medium, "Microsoft YaHei";
          color:rgba(97,100,138,1);
          line-height:20px;
        }
        .navItemsContent{
          padding-top: 20px;
          .navItem{
            display: block;
            font-size:14px;
            font-family:PingFangSC-Regular, "Microsoft YaHei";
            color:rgba(199,204,230,1);
            line-height:20px;
            margin-bottom: 7px;
          }
        }
      }

    }

  }

  .qrcode{
    width: 85px;
    height: 85px;
    img{
      width: 100%;
    }
  }

}