.documents{
  width: 100%;
  height: 536px;
  background: url("../../assets/img/Group 10.png") no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 136px;

  .title{
    height:48px;
    font-size:34px;
    font-family:PingFangSC-Medium, "Microsoft YaHei";
    color:rgba(255,255,255,1);
    line-height:48px;
    text-align: center;
  }

  .content{
    max-width:835px;
    height:169px;
    font-size:18px;
    font-family:PingFangSC-Regular, "Microsoft YaHei";
    color:rgba(255,255,255,1);
    line-height:25px;
    margin: 0 auto;
    padding-top: 27px;
    text-align: center;
  }

}